@import 'Header_top.scss';
@import 'Header_bottom.scss';
@import 'form.scss';
@import 'Header__navbar.scss';
@import 'grid.scss';

.header{
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

.frostApp{
    position: absolute;
    background-color: rgba(37, 25, 25, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.loadingBx{
    position: fixed;
    justify-content: center;
    align-content: center;
    animation: changeColor linear 4s infinite;
    top: 30%;
    left: 47%;
    z-index: 5;
}

.loading{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid aqua;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}

.loading::before{
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    border-radius: 50%;
    border: 7px solid aqua;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate2 linear 2s infinite;
}

.loading::after{
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid aqua;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}

@keyframes changeColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
@keyframes rotate1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-720deg);
    }
}


