@import 'Header_top.scss';
@import 'Header_bottom.scss';
@import 'form.scss';
@import 'Header__navbar.scss';
@import 'grid.scss';

.header{
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

.frostApp{
    position: absolute;
    background-color: rgba(37, 25, 25, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.loadingBx{
    position: fixed;
    justify-content: center;
    align-content: center;
    animation: changeColor linear 4s infinite;
    top: 30%;
    left: 47%;
    z-index: 5;
}

.loading{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid aqua;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}

.loading::before{
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    border-radius: 50%;
    border: 7px solid aqua;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate2 linear 2s infinite;
}

.loading::after{
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid aqua;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}

@keyframes changeColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
@keyframes rotate1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-720deg);
    }
}

.toast{
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 3;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    animation: slideInLeft ease 1s , fadeOut linear 1s 3s forwards;
    transition: all linear 0.3s;
    border-left: 5px solid;

    @keyframes slideInLeft {
        0%{
            opacity: 0;
            transform: translateX(calc(100% + 10px));
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes slideInRight {
        100%{
            opacity: 0;
            transform: translateX(calc(100% + 10px));
        }
    }
    @keyframes fadeOut {
        100%{
            opacity: 0;
        }
    }
    .toast-icon{
        padding-right: 20px;
        font-size: 20px;
    }

    .toast-body{
        min-width: 200px;
        h3{
            margin: 0;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 5px;
        }
    }
    .toast-close{
        cursor: pointer;
        i{
            font-size:20px;
        }
    }
}

.toast-signup{
    border-left-color: rgb(48,136,152);
    .toast-icon{
        color: rgb(48,136,152);
    }
}

.toast-login{
    border-left-color:#47d864;
    .toast-icon{
        color: #47d864;
    }
}
