.header__top{
    height: 61px;
    background-color: rgb(52,179,176);
    text-align: center;
    img {
        width: 82%;
        height: 61px;
        margin: 0 auto;
    }
}

@media (min-width:740px) and (max-width:1023px){
    .header__top{
        display: none;
    }
}

@media (max-width:740px){
    .header__top{
        display: none;
    }
}