@mixin widthVsHeight($width,$height) {
    width: $width;
    height: $height;
}

.header__bottom {
    background-color: #ffffff;
    padding-top: 10px;
    height: 70px;
    .container{
        height: 70px;

        .logo {
            height: 40px;
            margin-top: 15px;
        }
        .search{
            position: relative;
            input{
                width: 95%;
                height: 40px;
                margin-top: 15px;
                border: 1px solid #CDCFD0;
                border-radius: 8px;
                font-size: 15px;
                padding-left: 3%;
                padding-right: 17%;
            }
            button{
                position: absolute;
                width: 12%;
                height: 30px;
                top: 20px;
                right: 35px;
                border-radius: 7px;
                background-color: #C92127;
                border: none;
                cursor: pointer;
            }
            i {
                color: white;
                font-size: 15px;
            }
        }

        .navbar{
            .container{
                height: 70px;
                text-align: center;
                .navbar__item{
                    cursor: pointer;
                    position: relative;
                    i {
                        cursor: pointer;
                        font-size: 20px;
                        margin-bottom: 3px;
                        padding: 20px 30px 0 30px;
                    }
            
                    p {
                        cursor: pointer;
                        font-size: 12px;
                        padding: 0 11px 10px 11px;
                        margin: 0;
                    }

                    &:hover{
                        background-color: rgba(201,33,39,0.8);
                        color: white;
                    }

                    .navbar__item--hover{
                        position: absolute;
                        @include widthVsHeight(250px,auto);
                        display: none;
                        flex-direction: column;
                        background-color: white;
                        top: 69px;
                        right: 0;
                        box-sizing: border-box;
                        border-radius: 5px;
                        z-index: 0.5;

                        .btn__signIn{
                            color: white;
                            background-color: #c92127;
                            padding: 12px 81px;
                            font-size: 13px;
                            border: none;
                            font-weight: bold;
                            border-radius: 5px;
                            margin: 0 10px;
                            cursor: pointer;
                            box-sizing: border-box;
                            margin-top: 10px;
            
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                        .btn__signUp{
                            color: #c92127;
                            background-color: white;
                            padding: 12px 87px;
                            font-weight: bold;
                            font-size: 13px;
                            border-radius: 5px;
                            margin: 10px 10px;
                            border: 2px solid #c92127;
                            cursor: pointer;
            
                            &:hover{
                                opacity: 0.5;
                            }
                        }
            
                        .hover__header{
                            display: flex;
                            color: #333;
                            margin-top: 5px;
                            i{
                                padding: 10px 0 0 10px;
                                cursor:auto;
                                margin: 0;
                            }
                            p{
                                font-size: 15px;
                                cursor:auto;
                                padding: 10px 11px 0 11px;
                            }
                        }
                        .hover__container{
                            text-align: center;
                            padding-top: 15px;
                            img{
                                height: 90px;
                                width: 90px;
                            }
                            p{
                                color: #333;
                                font-size: 15px;
                                margin: 15px 25px;
                            }
                        }
                    }

                    &:hover {
                        background-color: rgba(201,33,39,0.8);
                        color: white;
            
                        .navbar__item--hover{
                            display: flex;
                        }
                    } 
                }
            }
        }
    }
}
