@import 'Header_top.scss';
@import 'Header_bottom.scss';
@import 'form.scss';
@import 'Header__navbar.scss';
@import 'grid.scss';

.header{
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

.frostApp{
    position: absolute;
    background-color: rgba(37, 25, 25, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


