@import 'grid.scss';

.main {
    background-color: #f0f0f0;
    padding-top: 25px;
}
.container1 {
    background-color: #ffffff;
}
.container1 + .container1{
    margin-top: 25px;
}

.main__category{
    padding-top: 15px;
    margin-bottom: 25px;
    .category {
        display: inline-flex;
        align-items: center;
        .logo{
            height: 50px;
            border-radius: 50%;
        }

        h1{
            margin-left: 5px;
        }
    }

    .row{
        .item{
            cursor: pointer;
            margin-top: 5px;
            display: flex;
            flex-direction: column;

            &:hover{
                box-shadow: 0 0 10px midnightblue;
            }
            h1{
                padding: 0 10px;
                min-height: 50px;
                font-size: 20px;
                color: #333;
                margin-bottom: 0;
                margin-top: 5px;
                line-height: 1.1;
            }
            h3{
                padding: 0 10px;
                color: #c92127;
                font-size: 20px;
                margin: 0;
            }
            img{
                width: 100%;
                height: 350px;
                justify-content: center;
                align-items: center;
            }
            .sale{
                display: flex;
                margin: 10px 10px 5px 10px;
                border-radius: 30px;
                background-color: #c92127;
                justify-content: center;
                font-size: 15px;
                color: white;

                p{
                    padding: 5px 0;
                }
            }
        }
    }

    .button{
        margin-top: 42px;
        text-align: center;
        padding-bottom: 25px;
        button{
            padding: 5px 75px;
            cursor: pointer;
            font-size: 20px;
            color: white;
            background-image: linear-gradient(90deg,rgb(254,150,2),rgb(247,107,88));
            border-radius: 20px;
            outline: none;
            border: none;

            &:hover{
                opacity: 0.8;
            }
        }
    }
}

.main__category + .main__category {
    margin-top: 30px;
}