.container-product{
    background-color:#ffffff ;
}
.product{
    padding: 0px 10px 0 10px;
    margin-top: 15px;
    .product-image{
        padding-top: 15px;
        // background-color: aqua;
        .col1{
            img{
                width: 100%;
                transition: all 1s ease;
            }
            img:hover{
                transform: scale(1.2,1.2);
            }
        }
        .col2{
            img{
                width: 100%;
                transition: all 1s ease;
            }
            img:hover{
                transform: scale(1.05,1.05);
            }
        }

        button{
            display: flex;
            align-items: center;
            margin: 15px auto;
            padding: 15px 30px;
            background-color: #ffffff;
            // border: none;
            border: 2px solid rgb(201,33,39);
            border-radius: 10px;
            cursor: pointer;
            p{
                color: rgb(201,33,39);
                font-size: 15px;
                font-weight: bolder;
                
            }
            &:hover{
                opacity: 0.7;
            }
            i{
                font-size: 20px;
                color: rgb(201,33,39);
                margin-right: 10px;
            }
        }
    }
    .product-info{
        margin-top: 15px;
        // background-color: antiquewhite;
        .name{ 
            div{
                min-height: 150px;
                h1{
                    font-size: 30px;
                    margin: 0;
                    padding: 0px 12px 5px;
                    font-weight: 900;
                    color: rgb(201,33,39);
                    overflow-wrap: anywhere;
                    line-height: 1.15;
                }
                p{
                    padding-left: 12px;
                    margin-bottom: 15px;
                    font-size: 15px;
                    line-height: 1.15;
                    font-weight: 600;
                }
            }
        }
        .info{
            margin-bottom: 20px;
            p{
                font-size: 20px;
                margin-bottom: 15px;
                a{
                    color: rgb(14, 186, 220);
                    font-weight: bold;
                }
            }
        }
        .rating{
            margin-bottom: 30px;
            padding-left: 12px;
            p{
                color: rgb(247,171,45);
            }
            .stars-outer{
                position: relative;
                display: inline-block;
            }
            .stars-inner{
                position: absolute;
                top: 0;
                left: 0;
                white-space: nowrap;
                overflow: hidden;
                width: 0;
            }
            .stars-outer::before{
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: FontAwesome;
                color: #ccc;
            }
            .stars-inner::before{
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: FontAwesome;
                color: #f8ce0b;
            }
            .number-rating{
                margin-left: 5px;
                font-size: 15px;
                margin-right: 15px;
            }
        }
        .cost{
            padding: 0 12px;
            margin-bottom: 40px;
            p{
                font-size: 30px;
                font-weight: bolder;
                color: red;
            }
        }
        .amount{
            display: flex;
            padding: 0 12px;
            align-items: center;
            padding-bottom: 25px;
            p{
                font-size: 20px;
                font-weight: 700;
            }
            .button-amount{
                margin-left: 15px;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                border: 1px solid #d8d8d8;
                button{
                    cursor: pointer;
                    background-color: #ffffff;
                    border: none;
                    font-size: 20px;
                    padding: 5px 20px;
                }
                p{
                    min-width: 25px;
                    text-align: center;
                }
            }
        }
    }
}

.evaluate{
    background-color:#ffffff ;

    .title{
        margin-top: 20px;
        padding-left: 12px;
        padding-top: 10px;
    }
    .content{
        .rating{
            margin-top: 15px;
            .number-rating{
                margin-top: 20px;
                text-align: center;
                font-size: 40px;
                span{
                    font-size: 20px;
                }
                .stars-outer{
                    position: relative;
                    display: inline-block;
                    margin-top: 15px;
                }
                .stars-inner{
                    position: absolute;
                    top: 0;
                    left: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 0;
                }
                .stars-outer::before{
                    content: "\f005 \f005 \f005 \f005 \f005";
                    font-family: FontAwesome;
                    color: #ccc;
                    font-size: 17px;
                }
                .stars-inner::before{
                    content: "\f005 \f005 \f005 \f005 \f005";
                    font-family: FontAwesome;
                    color: #f8ce0b;
                    font-size: 17px;
                }
                p{
                    margin-top: 10px;
                }
            }

            .rating-charts{
                .rating-chart{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    .chart{
                        width: 70%;
                        height: 5px;
                        background-color: rgb(230,230,230);
                        margin: 0 10px;
                        position: relative;
                        display: inline-block;
                    }
                    .chart-inner{
                        position: absolute;
                        top: 0;
                        height: 5px;
                        left: 0;
                        width: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        background-color: #f8ce0b;
                    }
                    span{
                        font-size: 15px;
                    }
                }
            }
        }

        .comment{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 13px;

                span{
                    color: rgb(126,176,249);
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}



