@import 'grid.scss';

.Footer{
    width: 100%;
    margin-top: 25px;
    background-color: #f0f0f0;
}

.container__footer{
    background-color: #ffffff;
    border-radius: 15px;

    .row{
        padding-top: 25px;
        .l-4{
            padding-left: 25px;
            display: flex;
            .info {
                img{
                    height: 70px;
                    margin-bottom: 20px;
                }
                p{
                    line-height: 1.15;
                }
                .icon{
                    display: flex;
                    margin-top: 20px;
                    
                    a{
                        i{
                            font-size: 30px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .vertical {
                width: 1px;
                height: 200px;
                background-color: rgb(137, 135, 135);
            }
        }

        .l-8{
            .row{

                .l-4{
                    display: block;
                    h1{
                        margin-top: 0;
                    }
                    p{
                        cursor: pointer;
                        font-size: 13px;
                        line-height: 2.9;
                    }
                }
            }

            .row1 {
                padding-top: 0;

                .l-4{

                    padding-left: 12px;
                    i{
                        font-size: 20px;
                    }
                    span{
                        font-size: 13px;
                        padding-left: 5px;
                    }
                }
            }

            .logo1{
                display: flex;
                align-items: center;
                .l-3{
                    text-align: center;
                    .vnpost{
                        height: 48.9px;
                    }
                    .ahamove{
                        height: 41.23px;
                    }
                    .ghn{
                        height: 84px;
                    }
                    .snappy{
                        height: 48.2px;
                    }
                }
            }

            .logo2{
                display: flex;
                align-items: center;
                .l-2-4{
                    text-align: center;

                    .vnpay{
                        height: 40.83px;
                    }

                    .momo{
                        height: 50px;
                    }
                    .shopee{
                        height: 44px;
                    }
                    .grab-moca{
                        height: 65px;
                        width: 65px;
                    }
                    .zalopay{
                        height: 35px;
                    }
                }
            }
        }
    }

    .row{
        .text{
            text-align: center;
            margin-bottom: 40px;
            p{
                font-size: 13px;
            }
        }
    }
}
